a {
  text-decoration: none;
}

#bar {
  position:fixed;
  background-image: linear-gradient(to right, white, #ffffff);
  height: 550px;
  border-radius: 0px 50px 50px 0px;
  top:0px;
  width: 25px;
  left:0px;
  transition: width 1s;
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0);
}

#button {
  color:#4d4d4d;
  top:10px;
  left:10px;
  border:30px;
  visibility: visible;
}

i {
  font-size: 1.5rem;
  cursor:pointer;

  }

i:hover {
  color:#cccccc;
}

#title {
  /*font-family: 'Ubuntu', sans-serif; */
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  padding: 0px 0;
  text-align:center;
}

#links {
  visibility: hidden;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  color: black;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 700ms, opacity 6000ms;
}

h4 {
  margin: 0px;
  font-size: 70px;
  font-weight: normal;

}

h5 {
  padding: 0px;
  font-size: 20px;
  font-weight: normal;
}
#companyLogo{
  padding: 0px;
}

#exitbutton {
  color:#4d4d4d;
  top:20px;
  right:20px;
  border:100px;
  visibility: hidden;
}

.container {
  border-radius: 0px 50px 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.hyperlink {
  color: black;

}

.home {
  color: black;
  text-decoration: none;
}

#about {
  text-align: center;
  font-size: 120px;
  font-family: 'Sacramento', cursive;
}

.posts {
  margin: 0 auto;
  width: 700px;
  font-size: 20px;
  text-align: center;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
}

.bigger {
  font-size:300%;
}

hr {
  width: 700px;
}

#presentables {
  text-align: center;
  font-size: 120px;
  font-family: 'Sacramento', cursive;
}

#vlabpres {
  margin: 0 auto;
  width: 800px;
  font-size: 30px;
  text-align: center;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
}

#vsimpres {
  margin: 0 auto;
  width: 800px;
  font-size: 30px;
  text-align: center;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
}

.smallprint {
  font-size: 15px;
}

#reports {
  text-align: center;
  font-size: 120px;
  font-family: 'Sacramento', cursive;
}

.images {
  width: 700px;

}

.caption {
  font-size: 20px;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
}

.dblpic {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imagesdiv {
  width: 400px;
  padding: 25px;
}

.postsrep {
  margin: 0 auto;
  width: 700px;
  font-size: 20px;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
}

.poststitle {
  margin: 0 auto;
  width: 700px;
  font-size: 30px;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
}

.report {
  font-family: "Times New Roman", sans-serif;
}

.segmenthead {
  font-weight: bold;
}

.sectionhead {
  font-weight: bold;
  text-align: center;
  word-spacing: 10px;
}

#canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#canvas2 {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#canvas3 {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#loginbox {
  margin: 0 auto;
  padding: 20px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  width:500px;
  height:200px;
  text-align: center;
  border-radius: 25px;
}

#loginpanel {
  display: inline-block;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  width:500px;
}

#loginboxbox {
  display: table-cell;
  vertical-align: middle;
  width: 500px;
  height:200px;
}

.caption2 {
  font-size: 14px;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  text-align: center;
}

#vsimpres2 {
  margin: 0 auto;
  width: 800px;
  font-size: 30px;
  text-align: center;
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
}
